/* style main content */

.mainContainer {
  font-family: 'PT Sans', sans-serif;
  padding-top: 100px;
  display: flex;
  flex-direction: rows;
  justify-content: space-around;
}

.memberAreaContainer {
  display: flex;
  flex-direction: rows;
  justify-content: space-around;
  width: 93%
}

.discoverMapsTitle {
  padding: 1em;
}

.discoverMapsArea {
  height: 100000px;
  width: 33%;
  margin-left: 2em;
  margin-right: 1em
}

.mapArea {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 600px;
  position: sticky;
  top: 90px;
  width: 66%;
  padding: 1em;
  margin-right: 2em;
  margin-left: 1em
}



.myMapsContainer, .myFavMapsContainer, .myFavPinsContainer {
  height: 700px;
  width: 33%;
}

.discoverMapsTitle, .mapList, .mapDescription {
  margin: 2px
}


//temporary border to see what we are doing
div, nav {
  border: solid 1px;
}
