/* style main content */
@import "variables";

/* define strong class */
.strong {
  font-weight: bold;
  font-size: large;
}

.mainContainer {
  background-image: url("/images/diagmonds-light.png");
  background-color: $light;
  font-family: 'PT Sans', sans-serif;
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  min-height: 800px;
  // I put flex start below so that I could modify the height of the children, I will show you how!
  align-items: flex-start;
}

.memberAreaContainer {
  display: flex;
  flex-direction: rows;
  justify-content: space-around;
  width: 93%;
}

.discoverMapsArea {
  // height: 100000px; //Tyler this is commented out so that the height of the container is determined by how many maps we have
  background-color: $medium;
  background-image: url("/images/diagmonds-light.png");
  width: 33%;
  margin-left: 2em;
  margin-right: 1em;
  border: solid 1px;
  min-height: 600px;
}
//60vh

.discoverMapsTitle, .mapListContainer, .myMapsTitle, .myFavMapsTitle, .myContributions, .mapList {
 border: solid 1px;
 background-color: $light;
 padding: 1em;
 margin: 2px;
}

.mapArea {
  border: ridge 3px;
  display: flex;
  justify-content:center;
  align-items: center;
  height: 600px;
  position: sticky;
  top: 90px;
  width: 66%;
  padding: 1em;
  margin-right: 2em;
  margin-left: 1em;
}

.myMapsContainer, .myFavMapsContainer, .myMapContributions{
  // height: 700px;
  width: 33%;
  border: solid 1px;
  background-color: $medium;
  background-image: url("/images/diagmonds-light.png");
  min-height: 600px;
}


//temporary border to see what we are doing
// div {
//   border: solid 1px;
// }


