/* style main content */
@import "variables";

.strong {
  font-weight: bold;
}

.mainContainer {
  // background-image: url("/images/diagmonds-light.png");
  background-color: $medium;
  font-family: "PT Sans", sans-serif;
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  min-height: 90vh;
  align-items: flex-start;
}

.memberAreaContainer {
  display: flex;
  flex-direction: rows;
  justify-content: space-around;
  width: 93%;
}

.discoverMapsArea {
  background-color: $medium;
  // background-image: url("/images/diagmonds-light.png");
  width: 33%;
  margin-left: 2em;
  margin-right: 1em;
  // border: solid 1px;
  min-height: 600px;
}

.discoverMapsTitle,
.mapListContainer,
.myMapsTitle,
.myFavMapsTitle,
.myContributions,
.mapInfoDescription,
.createAPin {
  //  border: solid 1px;
  border-radius: 10px;
  background-color: $light;
  padding: 1em;
  margin: 5px;
}

.myContributions,
.myFavMapsTitle,
.myMapsTitle,
.discoverMapsTitle {
  font-size: large;
}

.mapDescription {
  // border: ridge 1px;
  padding: 4px;
}

.mapArea {
  // border: ridge 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  position: sticky;
  top: 100px;
  width: 66%;
  padding: 1em;
  margin-right: 2em;
  margin-left: 1em;
}

.googleMap {
  border-radius: 10px;
}

.myMapsContainer,
.myFavMapsContainer,
.myMapContributions {
  width: 33%;
  // border: solid 1px;
  border-radius: 10px;
  background-color: $medium;
  // background-image: url("/images/diagmonds-light.png");
  min-height: 600px;
}

.createAPin {
  display: flex;
  justify-content: end;
  align-items: center;
}

.icon:hover,
button:hover,
.logo:hover,
.mapListDetails .title:hover,
.mapListDetails .createdBy:hover {
  cursor: pointer;
  color: $medium;
}
