.mapList {
  display: flex;
}

.mapListPic {
  max-width: 10%;
  min-width: 69px;
  height: auto;
  margin-right: 7px;
  margin-bottom: 3px;
}

.mapListDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mapListIcons {
  display: flex;
  justify-content: flex-end;
}

.icon {
margin-left: 2px;
margin-bottom: 2px;
}

.gm-style .gm-style-iw-c {
  font-size: 14px;
  color: #333;
}

.favourite {
  color: rgb(230, 37, 37);
  }
