.mapList {
  display: flex;
}

.mapListPic {
  max-width: 30%;
  height: auto;
}

.mapListDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mapListIcons {
  display: flex;
  justify-content: flex-end;
}





