@import "variables";

.modal {
  display:flex;
  align-items: flex-start;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: $light;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  // width: 80%; /* Could be more or less, depending on screen size */
  // I took this out Jason so the modal was only as wide as the content.
  // I also display flex and align items flex start to .modal above to make sure that the modal was not getting width from its parent
}

input {
  margin: 4px;
  background-color: $medium;
}

.modal-buttons{
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
}

//this gives the text inside the buttons padding
.modal-buttons span {
  padding: 4px;
}

.accept, .cancel, .create, .deleteMap, .deletePin, .acceptPinEdit, .createNewPin {
  border: 1px solid #888;
  margin-left: 3px;
  border-radius: 16px;
  padding: 4px;
  cursor: default;
}
