/* style nav bar */
@import "variables";

// font-family: 'Sen', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;

nav {
  font-family: 'Sen', sans-serif;
  padding: 1em;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 90px;
  position: fixed
}

.button {
  font-size:x-large;
  margin-left: 4px;
  background-color: $light;
}

.logo {
  margin-left: 1em;
  font-size:xx-large;
}

.login, .logout{
  margin-right: 1em;
}

nav span {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
